In [52]:
import pandas as pd
import ast
import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../data/all_pages.csv')

# コラム厳選
columns_to_keep = [
    'job_offer_id',
    'job_offer_name',
    'client',
    'job_offer_areas',
    'job_offer_min_salary',
    'job_offer_max_salary',
    'job_offer_skill_names'
]

df_filtered = df.loc[:, columns_to_keep].copy()

def to_dict_if_needed(value):
    if value is None:
        return None
    if isinstance(value, dict):
        return value
    if isinstance(value, str):
        try:
            return ast.literal_eval(value)
        except Exception:
            return None
    if isinstance(value, float) and pd.isna(value):
        return None
    return None


def to_list_if_needed(value):
    if value is None:
        return None
    if isinstance(value, list):
        return value
    if isinstance(value, str):
        try:
            return ast.literal_eval(value)
        except Exception:
            return None
    if isinstance(value, float) and pd.isna(value):
        return None
    return None

#データの整形
if 'client' in df_filtered.columns:
    df_filtered['client_dict'] = df_filtered['client'].apply(to_dict_if_needed)
    df_filtered['client_name'] = df_filtered['client_dict'].apply(lambda d: d.get('name') if isinstance(d, dict) else None)
    df_filtered['employee_count'] = df_filtered['client_dict'].apply(lambda d: d.get('employee_count') if isinstance(d, dict) else None)
    df_filtered['established'] = df_filtered['client_dict'].apply(lambda d: d.get('established_at') if isinstance(d, dict) else None)
    # df_filtered['established'] = df_filtered.to_datetime('established', unit='s')
    df_filtered['established'] = pd.to_datetime(df_filtered['established'], unit='s')
    df_filtered = df_filtered.drop(['client', 'client_dict'], axis=1, errors='ignore')

if 'job_offer_skill_names' in df_filtered.columns:
    df_filtered['job_offer_skill_names'] = df_filtered['job_offer_skill_names'].apply(to_list_if_needed)

if 'job_offer_areas' in df_filtered.columns:
    df_filtered['job_offer_areas'] = df_filtered['job_offer_skill_names'].apply(to_list_if_needed)

if 'job_offer_name' in df_filtered.columns:
    df_filtered['job_tag'] = 'その他'
    df_filtered.loc[df_filtered['job_offer_name'].str.contains('データ基盤エンジニア|データエンジニア|データベースエンジニア'), 'job_tag'] = 'データエンジニア'
    df_filtered.loc[df_filtered['job_offer_name'].str.contains('データサイエンティスト|データアナリスト'), 'job_tag'] = 'データサイエンティスト'
    df_filtered.loc[df_filtered['job_offer_name'].str.contains('AIエンジニア|機械学習エンジニア|AI開発エンジニア'), 'job_tag'] = 'AIエンジニア'

In [53]:
df_filtered.head()

,job_offer_id,job_offer_name,job_offer_areas,job_offer_min_salary,job_offer_max_salary,job_offer_skill_names,client_name,employee_count,established,job_tag
0,294449,AIエージェント開発エンジニア,"[Java, Python, Go, Node.js, AWS, Docker, Azure...",500,1200,"[Java, Python, Go, Node.js, AWS, Docker, Azure...",ブーストコンサルティング 株式会社,20,2025-03-31 15:00:00,その他
1,294052,最先端AI技術を習得！未来を創る生成AIエンジニアを募集！,"[Java, Python]",500,1040,"[Java, Python]",10X 株式会社,20,2020-01-31 15:00:00,AIエンジニア
2,294554,AIエンジニア（PM候補）,"[AWS, Azure, GCP]",800,1200,"[AWS, Azure, GCP]",株式会社 Ridge-i,84,NaT,AIエンジニア
3,294524,【AI推進室】ソフトウェアエンジニア,[],750,1200,[],株式会社 カオナビ,394,2008-04-30 15:00:00,その他
4,294243,AIエンジニア(LLMを活用したAIエージェント開発),"[Python, Azure]",700,900,"[Python, Azure]",VISITS Technologies 株式会社,60,2014-05-31 15:00:00,AIエンジニア

In [56]:
df_filtered['job_tag']

0          その他
1      AIエンジニア
2      AIエンジニア
3          その他
4      AIエンジニア
        ...
434        その他
435        その他
436        その他
437        その他
438    AIエンジニア
Name: job_tag, Length: 439, dtype: object

In [61]:
df_filtered[df_filtered['job_tag']=='データエンジニア']

,job_offer_id,job_offer_name,job_offer_areas,job_offer_min_salary,job_offer_max_salary,job_offer_skill_names,client_name,employee_count,established,job_tag
6,294081,データエンジニア（メンバーポジション）,"[SQL, Python, AWS, Azure, GCP]",400,550,"[SQL, Python, AWS, Azure, GCP]",株式会社 cococo,10,2023-11-30 15:00:00,データエンジニア
11,187679,（職種未経験者歓迎）データエンジニア,"[C, SQL, Java, Python, R, AWS, MySQL, PostgreS...",400,600,"[C, SQL, Java, Python, R, AWS, MySQL, PostgreS...",株式会社 メンバーズ メンバーズデータアドベンチャーカンパニー,2303,1995-05-31 15:00:00,データエンジニア
20,273394,データエンジニア リーダー候補,"[SQL, Java, Python, Scala, AWS, MySQL, Postgre...",600,1000,"[SQL, Java, Python, Scala, AWS, MySQL, Postgre...",株式会社 FLINTERS,90,2013-12-31 15:00:00,データエンジニア
21,286281,データエンジニア（データ基盤構築）／リードエンジニア,"[SQL, AWS, Azure, Google Cloud Platform, GCP]",500,650,"[SQL, AWS, Azure, Google Cloud Platform, GCP]",株式会社 エスタイル,63,2006-06-30 15:00:00,データエンジニア
23,267012,データエンジニア,"[C, C++, JavaScript, SQL, Java, Python, Node.j...",600,900,"[C, C++, JavaScript, SQL, Java, Python, Node.j...",株式会社 ヘッドウォータース,127,2005-10-31 15:00:00,データエンジニア
...,...,...,...,...,...,...,...,...,...,...
403,272445,データエンジニア,[],480,800,[],株式会社 識学,227,2015-02-28 15:00:00,データエンジニア
406,211742,データエンジニア（MX統括部）,"[JavaScript, SQL, Python, AWS, PostgreSQL, Azu...",500,1000,"[JavaScript, SQL, Python, AWS, PostgreSQL, Azu...",パーソルビジネスプロセスデザイン 株式会社,18253,1977-08-31 15:00:00,データエンジニア
411,229877,データ基盤エンジニア,"[JavaScript, Java, Python, AWS, MySQL, Postgre...",700,1000,"[JavaScript, Java, Python, AWS, MySQL, Postgre...",アソビュー 株式会社,200,2011-02-28 15:00:00,データエンジニア
421,207594,データベースエンジニア,[SQL],400,600,[SQL],フレックシステムズ 株式会社,56,2003-09-30 15:00:00,データエンジニア
426,283809,データエンジニア,"[SQL, Python, AWS, Azure, GCP, Salesforce]",500,800,"[SQL, Python, AWS, Azure, GCP, Salesforce]",株式会社 ゴルフダイジェスト・オンライン,487,2000-04-30 15:00:00,データエンジニア

In [ ]:
df['job_offer_areas'] = df['job_offer_areas'].apply(ast.literal_eval)
type(df.loc[2, "job_offer_skill_names"])

str

In [ ]:
import pandas as pd

# エポック秒のSeries（10桁または13桁の数値）
epoch_series = pd.Series([1401548400, 1580482800, 1209567600])

# pd.to_datetime()で変換
# unit='s' は、入力が秒であることを示します
datetime_series = pd.to_datetime(epoch_series, unit='s')

print(datetime_series)

0   2014-05-31 15:00:00
1   2020-01-31 15:00:00
2   2008-04-30 15:00:00
dtype: datetime64[ns]

In [ ]:
import pandas as pd
import ast

df = pd.read_csv('../data/filtered.csv')

df_copy = df.copy()

df_copy['job_tag'] = 'その他'  # まず'その他'で初期化

df_copy.loc[df_copy['job_offer_name'].str.contains('データ基盤エンジニア|データエンジニア|データベースエンジニア'), 'job_tag'] = 'データエンジニア'

df_copy.loc[df_copy['job_offer_name'].str.contains('データサイエンティスト|データアナリスト'), 'job_tag'] = 'データサイエンティスト'

df_copy.loc[df_copy['job_offer_name'].str.contains('AIエンジニア|機械学習エンジニア|AI開発エンジニア'), 'job_tag'] = 'AIエンジニア'


df_copy.head(50)

,job_offer_id,job_offer_name,job_offer_areas,job_offer_min_salary,job_offer_max_salary,job_offer_skill_names,client_name,employee_count,established,job_tag
0,294449,AIエージェント開発エンジニア,"['Java', 'Python', 'Go', 'Node.js', 'AWS', 'Do...",500,1200,"['Java', 'Python', 'Go', 'Node.js', 'AWS', 'Do...",ブーストコンサルティング 株式会社,20,1.743433e+09,その他
1,294052,最先端AI技術を習得！未来を創る生成AIエンジニアを募集！,"['Java', 'Python']",500,1040,"['Java', 'Python']",10X 株式会社,20,1.580483e+09,AIエンジニア
2,294554,AIエンジニア（PM候補）,"['AWS', 'Azure', 'GCP']",800,1200,"['AWS', 'Azure', 'GCP']",株式会社 Ridge-i,84,NaN,AIエンジニア
3,294524,【AI推進室】ソフトウェアエンジニア,[],750,1200,[],株式会社 カオナビ,394,1.209568e+09,その他
4,294243,AIエンジニア(LLMを活用したAIエージェント開発),"['Python', 'Azure']",700,900,"['Python', 'Azure']",VISITS Technologies 株式会社,60,1.401548e+09,AIエンジニア
5,288361,◢◤ビッグデータ人材◢◤データオペレーションスタッフ,"['SQL', 'Python']",400,800,"['SQL', 'Python']",TRUSTART 株式会社,31,1.588259e+09,その他
6,294081,データエンジニア（メンバーポジション）,"['SQL', 'Python', 'AWS', 'Azure', 'GCP']",400,550,"['SQL', 'Python', 'AWS', 'Azure', 'GCP']",株式会社 cococo,10,1.701356e+09,データエンジニア
7,294517,データサイエンティスト＜福岡銀行＞,"['SQL', 'Python', 'R']",600,1500,"['SQL', 'Python', 'R']",株式会社 福岡銀行,3718,-7.838532e+08,データサイエンティスト
8,294439,シニアデータサイエンティスト,"['SQL', 'R', 'pandas']",1000,0,"['SQL', 'R', 'pandas']",OLTA 株式会社,118,1.490972e+09,データサイエンティスト
9,294323,ソフトウェアエンジニア（AI）,"['Ruby', 'Ruby on Rails']",600,1600,"['Ruby', 'Ruby on Rails']",株式会社 kickflow,34,1.580483e+09,その他
10,291192,【プロンプトエンジニア】Azure AIに特化した急成長企業！自由度高く開発経験を活かしませんか？,"['SQL', 'Docker', 'TensorFlow', 'Azure', 'Kube...",400,900,"['SQL', 'Docker', 'TensorFlow', 'Azure', 'Kube...",株式会社 BTM,219,1.312124e+09,その他
11,187679,（職種未経験者歓迎）データエンジニア,"['C', 'SQL', 'Java', 'Python', 'R', 'AWS', 'My...",400,600,"['C', 'SQL', 'Java', 'Python', 'R', 'AWS', 'My...",株式会社 メンバーズ メンバーズデータアドベンチャーカンパニー,2303,8.019324e+08,データエンジニア
12,293490,東京 生成AIエンジニア,"['Python', 'Go', 'TypeScript', 'Docker', 'Elas...",440,700,"['Python', 'Go', 'TypeScript', 'Docker', 'Elas...",株式会社 エニセンス,25,1.175353e+09,AIエンジニア
13,293842,AI/NLPエンジニア（ナレッジグラフ＆セマンティックシステム）技術リーダー,[],1500,2200,[],Polimill 株式会社,20,NaN,その他
14,293733,データサイエンティスト【メディア研究開発センター】,"['SQL', 'Python', 'R', 'TensorFlow', 'scikit-l...",700,1100,"['SQL', 'Python', 'R', 'TensorFlow', 'scikit-l...",株式会社 朝日新聞社,3742,NaN,データサイエンティスト
15,124582,【東京】AIエンジニア,"['C#', 'C', 'C++', 'Python']",500,900,"['C#', 'C', 'C++', 'Python']",株式会社 アイビス,334,9.571068e+08,AIエンジニア
16,291330,【未経験歓迎】データサイエンティスト職＿統計×ビジネス×AIを操る“分析のプロフェッショナル”へ,['Python'],350,700,['Python'],データアナリティクスラボ 株式会社,185,1.554044e+09,データサイエンティスト
17,131157,【東京】エンジニア（ChatGPT等の先端技術の開発）【ID0000069】,"['AWS', 'Azure', 'Google Cloud Platform']",699,1084,"['AWS', 'Azure', 'Google Cloud Platform']",株式会社 ジェーエムエーシステムズ,329,5.776920e+07,その他
18,261523,AIエンジニア,"['PHP', 'Python', 'AWS', 'Laravel', 'PostgreSQ...",700,1500,"['PHP', 'Python', 'AWS', 'Laravel', 'PostgreSQ...",アスエネ 株式会社,430,1.569856e+09,AIエンジニア
19,99690,AIエンジニア（⼤阪）,"['Python', 'AWS', 'Docker', 'IoT', 'Jupyter']",400,800,"['Python', 'AWS', 'Docker', 'IoT', 'Jupyter']",株式会社 スマレジ,322,1.114873e+09,AIエンジニア
20,286281,データエンジニア（データ基盤構築）／リードエンジニア,"['SQL', 'AWS', 'Azure', 'Google Cloud Platform...",500,650,"['SQL', 'AWS', 'Azure', 'Google Cloud Platform...",株式会社 エスタイル,63,1.151680e+09,データエンジニア
21,273394,データエンジニア リーダー候補,"['SQL', 'Java', 'Python', 'Scala', 'AWS', 'MyS...",600,1000,"['SQL', 'Java', 'Python', 'Scala', 'AWS', 'MyS...",株式会社 FLINTERS,90,1.388502e+09,データエンジニア
22,255496,DBエンジニア,"['AWS', 'MySQL', 'Oracle']",450,1300,"['AWS', 'MySQL', 'Oracle']",株式会社 ENZIAN,10,1.646060e+09,その他
23,267012,データエンジニア,"['C', 'C++', 'JavaScript', 'SQL', 'Java', 'Pyt...",600,900,"['C', 'C++', 'JavaScript', 'SQL', 'Java', 'Pyt...",株式会社 ヘッドウォータース,127,1.130771e+09,データエンジニア
24,278031,【リモート・時差・副業可】事業横断データエンジニア,"['SQL', 'Python', 'AWS', 'Docker', 'Azure', 'G...",450,700,"['SQL', 'Python', 'AWS', 'Docker', 'Azure', 'G...",株式会社 マイナビ,12400,1.129788e+08,データエンジニア
25,287457,プリンシパルエンジニア（生成AI/LLM関連）,"['C#', 'C', 'C++', 'PHP', 'Ruby', 'Java', 'Pyt...",800,1200,"['C#', 'C', 'C++', 'PHP', 'Ruby', 'Java', 'Pyt...",株式会社 Carat,10,1.480518e+09,その他
26,291358,福岡【AIエンジニアオープンポジション】,"['Python', 'Django', 'AWS', 'Docker', 'TensorF...",780,1680,"['Python', 'Django', 'AWS', 'Docker', 'TensorF...",株式会社 TWOSTONE&Sons,368,1.380553e+09,AIエンジニア
27,290507,salesforceとデータレイクを活用したDXプラットフォーム開発運用,"['C#', 'SQL', 'PHP', 'Java', 'Python', 'Azure'...",426,616,"['C#', 'SQL', 'PHP', 'Java', 'Python', 'Azure'...",株式会社 クレオテック,465,7.388604e+08,その他
28,215296,01.DBエンジニア #常駐なし #リモート・フレックス有,"['PostgreSQL', 'Oracle', 'SQLServer']",600,900,"['PostgreSQL', 'Oracle', 'SQLServer']",株式会社 インサイトテクノロジー,100,8.045244e+08,その他
29,293284,【業務委託】販売予測モデル構築エンジニア,"['SQL', 'Python']",200,0,"['SQL', 'Python']",株式会社 Prazto,30,1.546268e+09,その他
30,267455,データエンジニア（メンバー）,"['SQL', 'Python', 'AWS', 'Docker', 'MySQL', 'P...",540,840,"['SQL', 'Python', 'AWS', 'Docker', 'MySQL', 'P...",ナッシュ 株式会社,460,1.464707e+09,データエンジニア
31,280644,AIシステムエンジニア（工場DX支援 ）,['Python'],500,900,['Python'],株式会社 MAZIN,27,1.527779e+09,その他
32,261375,データサイエンティスト/アナリスト/AI開発,"['SQL', 'Java', 'Python', 'Scala', 'R', 'AWS',...",400,780,"['SQL', 'Java', 'Python', 'Scala', 'R', 'AWS',...",KYLA 株式会社,50,NaN,データサイエンティスト
33,253073,データサイエンティスト,"['SQL', 'Python', 'R', 'Hadoop', 'AWS', 'GCP',...",433,802,"['SQL', 'Python', 'R', 'Hadoop', 'AWS', 'GCP',...",株式会社 フォーク,203,9.254844e+08,データサイエンティスト
34,271207,BIエンジニア・東京,['SQL'],450,700,['SQL'],株式会社 プリンシプル,100,1.317395e+09,その他
35,271739,【技術開発部】AIテックリード,"['Python', 'TensorFlow']",800,1200,"['Python', 'TensorFlow']",株式会社 VRAIN Solution,97,1.582988e+09,その他
36,293435,データ分析基盤エンジニア｜Data Platform Engineer,"['SQL', 'Python', 'R', 'AWS', 'Azure']",500,750,"['SQL', 'Python', 'R', 'AWS', 'Azure']",株式会社 アクセルスペースホールディングス,120,1.217516e+09,その他
37,293440,AI開発エンジニア,"['Python', 'AWS', 'Azure', 'Lambda', 'Kubernet...",400,600,"['Python', 'AWS', 'Azure', 'Lambda', 'Kubernet...",株式会社 NextBits,4,1.630422e+09,AIエンジニア
38,247201,データエンジニア,"['SQL', 'Python', 'AWS', 'Lambda', 'GCP']",600,1500,"['SQL', 'Python', 'AWS', 'Lambda', 'GCP']",エン・ジャパン 株式会社,2135,9.466524e+08,データエンジニア
39,293412,【BXG】データサイエンティスト,"['Python', 'R', 'AWS', 'GCP']",600,1200,"['Python', 'R', 'AWS', 'GCP']",株式会社 クリーク・アンド・リバー社,1034,6.362172e+08,データサイエンティスト
40,4840,◆D4cプレミアム◆データサイエンティスト／幅広い業界で活躍するスペシャリストへ◆年休125...,"['SQL', 'Python', 'R', 'AWS', 'Azure', 'GCP']",400,650,"['SQL', 'Python', 'R', 'AWS', 'Azure', 'GCP']",株式会社 データフォーシーズ,195,1.128092e+09,データサイエンティスト
41,243575,東京／AIマネージャー [開発],['R'],1000,1150,['R'],株式会社 ラクス,3086,9.730044e+08,その他
42,287411,AIエンジニア｜フルリモ/フレックス＊LangChain・LLMOps活用で“人の健康を支え...,"['Ruby', 'Go', 'Dart', 'Ruby on Rails', 'React...",500,700,"['Ruby', 'Go', 'Dart', 'Ruby on Rails', 'React...",株式会社 FiNC Technologies,48,1.333206e+09,AIエンジニア
43,282715,データエンジニア／データサイエンティスト・アナリスト／ストラテジスト,"['SQL', 'Python']",400,800,"['SQL', 'Python']",株式会社 デジタルアイデンティティ,380,1.243782e+09,データサイエンティスト
44,155957,【経験者歓迎/BIエンジニア】BIツールの導入支援～データ利活用支援！！,"['SQL', 'Python', 'AWS', 'Azure', 'GCP']",400,800,"['SQL', 'Python', 'AWS', 'Azure', 'GCP']",株式会社 ルーツ・テクノロジーズ,12,1.385824e+09,その他
45,116523,【アルゴリズムエンジニア】エンタープライズ向けVertical SaaS開発／フルリモート／...,"['C', 'Unity', 'Unity3D']",500,1000,"['C', 'Unity', 'Unity3D']",株式会社 Arent,132,1.341068e+09,その他
46,273559,AIエンジニア（Python）,"['Python', 'Docker']",350,700,"['Python', 'Docker']",株式会社 GIB Japan,20,1.049123e+09,AIエンジニア
47,259140,アルゴリズム開発エンジニア（音響センシング×AI活用事業）,"['C', 'C++', 'Python', 'R', 'IoT']",500,1200,"['C', 'C++', 'Python', 'R', 'IoT']",ピクシーダストテクノロジーズ 株式会社,84,1.493564e+09,その他
48,269155,未経験エンジニア,[],280,360,[],株式会社 ピアズ,815,1.104505e+09,その他
49,184417,【機械学習エンジニア】フルリモート可｜最先端のAI技術でクリエイティブ支援を革新する描画アプ...,"['C', 'C++', 'Python', 'Docker', 'OpenCV', 'pa...",500,1500,"['C', 'C++', 'Python', 'Docker', 'OpenCV', 'pa...",株式会社 セルシス,279,6.730236e+08,AIエンジニア