In [20]:
import pandas as pd
import ast

In [21]:
df = pd.read_csv('../filtered.csv')
df.head()

,job_offer_id,job_offer_name,job_offer_areas,job_offer_min_salary,job_offer_max_salary,job_offer_skill_names,client_name,employee_count
0,294448,AIソフトウェアエンジニア,['東京都'],500,1500,"['Java', 'Python', 'Go', 'Node.js', 'TypeScrip...",ブーストコンサルティング 株式会社,20
1,294439,シニアデータサイエンティスト,['東京都'],1000,0,"['SQL', 'R', 'pandas']",OLTA 株式会社,118
2,294052,最先端AI技術を習得！未来を創る生成AIエンジニアを募集！,"['東京都', '神奈川県', '千葉県', '埼玉県', '大阪府', '兵庫県', '京...",500,1040,"['Java', 'Python']",10X 株式会社,20
3,293842,AI/NLPエンジニア（ナレッジグラフ＆セマンティックシステム）技術リーダー,['東京都'],1500,2200,[],Polimill 株式会社,20
4,294323,ソフトウェアエンジニア（AI）,['フルリモート'],600,1600,"['Ruby', 'Ruby on Rails']",株式会社 kickflow,34

In [22]:
val = df.loc[0,['job_offer_areas']]
type(df.loc[1, "job_offer_skill_names"])

str

In [23]:
df['job_offer_areas'] = df['job_offer_areas'].apply(ast.literal_eval)
type(df.loc[2, "job_offer_skill_names"])

str